html,
body {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/bg-admin.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.events-window {
    height: 37em;
    overflow-y: auto;
}

.half-left {
    float: left;
    width: 30%;
    height: 100%;
}

.half-right {
    float: right;
    width: 70%;
    height: 100%;
}

.event-received {
    color: white;
    background-color: #6A359C;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.bold {
    font-weight: bold;
}